.cart {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.cart h1 {
  margin: 0;
  text-align: center;
  color: #333;
  background-color: #fff;
  padding: 0px;
}

.cart ul {
  padding: 0 40px;
}

.cart-item {
  border-radius: 5px;
  display: flex;
  gap: 20px;
  margin: 0 0 20px 0;
  border-bottom: 5px solid #cdb00d;
  padding-bottom: 20px;
  background-color: #ddd;
  padding: 10px;
}

.cart-item-image {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin: auto 0px;
  border-bottom: 2px solid rgba(14, 27, 77, 1);
  border-right: 2px solid rgba(14, 27, 77, 1);
}

.cart-item h2 {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

.clear-cart-button {
  background-color: red;
  color: #333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.clear-cart-button:hover {
  background-color: darkred;
}

.checkout-button {
  background-color: #cdb00d;
  color: #333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.checkout-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.checkout-button:hover:not(:disabled) {
  background-color: #af970b;
}
