.products-list-title {
  text-align: center;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 10px 0;
}

.products-list {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.product-card {
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-weight: 500;
  color: #000;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.products-list .product-title {
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  color: #000;
}

.products-list .product-price {
  font-size: 1.2em;
  color: #333;
  margin: 5px 0;
}

.color-variants {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.color-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ddd;
}

.color-dot:hover {
  border-color: #000;
}

.load-more-button {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 0 20px 0;
}

.load-more-button button {
  background-color: #ddd;
  color: #000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0;
  display: block;
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.load-more-button button:hover {
  background-color: #ccc;
}

@media (max-width: 768px) {
  .product-list {
    justify-content: space-between;
  }

  .product-card {
    width: calc(50% - 10px);
  }
}
